@font-face {
  font-family: "Lucida";
  src: url("../fonts/Lucida_Sans_Unicode.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body{
  font-family: "Lucida", sans-serif;
  font-weight: 400;
  background-color: #2E7FA3;
}

.blue{
  background-color: #3399CC;
}

.turquoise{
  background-color:#33CCCC;
}

.mauve{
  background-color: #996699;
}

.venice{
background: #C24747;
}

.salmon{
  background-color: #E2674A;
}

.cairo{
  background-color: #FFCC66;
}

.sage-green{
  background-color: #99CC99;
}

.muted-teal{
  background-color: #669999;
}

.mint-green{
  background-color: #339966;
}

.old-rose{
  background-color: #CC6699;
}

.lavender-gray{
  background-color: #666699;
}

.half{
  width: 50%;
}

.whole{
  width: 100%;
}

.quarter{
  width: 25%;
}

.main{
  margin: 30px;
  background-color: #3E8FB5;
}

.container {
  max-width: 1000px;
  padding: 0 10px;
  margin: 20px auto;
}

.item__box-img{
  color:#fff;
}

.title{
  font-size: 21px;
  line-height: 1.2;
  color: #fff;
  font-weight: 300;
}

.img{
  line-height: 60px;
  vertical-align: middle;
}

.title,
.img{
  display: inline-block;
  vertical-align: middle;
  padding: 35px 0;
}

.item__box{
  max-width: 1170px;
}
.list{
  font-size: 0;
  margin-bottom: 37px;
  border: 3px solid #fff;
  background-color: #fff;
}

.item{
  display: inline-block;
  vertical-align: top;
  font-size: 22px;
  cursor: pointer;
  border: 2px solid #fff;
}

.item__inner{
  opacity: 0.7;
  padding: 10px 0;
  transition: all .3s ease;
}

.item__inner:hover{
  opacity: 1;
}

.item__title{
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
}

.item__box{
  text-align: center;
}



.item__box-temp,
.item__box-img{
  display: inline-block;
  transition: all .3s ease;
}

.item__box-temp:hover,
.item__box-img:hover{
  opacity: 1;
}

.item__box-img{
  vertical-align: top;
  opacity: 0.7;
  height: 60px;
 }

 .item__box-temp{
    line-height: 60px;
    vertical-align: middle;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    opacity: 0.7;
 }

 .content__text{
    color: #fff;
    font-size: 16px;
    padding-bottom: 100px;
 }



